.menu{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 25px 55px 0;
    position: relative;
}

.slider{
    width: 900px;
    display: flex;
    position: absolute;
    right: 25px;
}


@media(max-width:1500px){
    .slider{
        width: 750px;
    }
}

@media(max-width:1360px){
    .slider{
        width: 700px;
    }
}

@media(max-width:1290px){
    .slider{
        width: 550px;
    }
}



@media(max-width:1150px){
    .menu{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .slider{
        position: relative;
        width: 90%;
        right: 0;
        top: 20px;
    }
}



