.reservationTable{
    text-align: center;
    margin-top: 15px;
}
.reservationTitle{
    color: white;
    font-size: 24px;
}
.reservationWarning{
    margin-top: 10px;
    color: red;
    font-size: 16px;
}