.reservationTable{

}
.reservation{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    color: white;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    button{
        background: #E1B168;
        text-align: center;
        color: #292E36;
        font-family: Josefin Sans;
        border-radius: 10px;
        padding: 10px;
    }
}