.reservationTable{
    text-align: center;
    margin-top: 15px;
}
.reservationTitle{
    color: white;
    font-size: 24px;
}
.reservationWarning{
    margin-top: 10px;
    color: red;
    font-size: 16px;
}

.tables{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;

}