@import '../../../styles/variables.scss';


.header{
    padding: 50px;
    background-color: $bg_color;
    max-width: 1440px;
    margin: 0 auto;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 378px;
    height: 188px;
}

.btn{ 
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    line-height: 33px;
    letter-spacing: 0.2px;
    width: 295px;
    height: 73px;
    font-weight: 600;
    display: flex;
    &__reservation{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__user{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &__userImg{
        display: none;
        filter: invert(100%) sepia(0%) saturate(1498%) hue-rotate(319deg) brightness(122%) contrast(100%);
    }
    &__auth{
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &__auth:hover {
        background-color: rebeccapurple;
    }
    &__userBtn{
        color: #FFF;
        background-color: $bg_color;
        border: 2px solid #E1B168;
    }
    &__reservation{
        border: 2px solid #E1B168;
        color: #292E36;
        background: #E1B168;
        img{
            display: none;
        }

    }
}

.userCart {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: whitesmoke;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        filter: invert(100%) sepia(0%) saturate(1498%) hue-rotate(319deg) brightness(122%) contrast(100%);
    }
}

.line{
    max-width: 1440px;
    margin: 49px -50px 0;
    height: 1px;
    background: #5C6168;
    
}

@media(max-width:1200px){
    .header{
        padding: 25px;
    }
    .btn{
        width: 205px;
        height: 53px;
        font-size: 18px;
    }
    .line{
        margin: 49px -25px 0;      
    }
}

@media(max-width:900px){
    .btn{
        width: 155px;
        height: 43px;
        font-size: 16px;
    }
    .logo{
        width: 280px; 
        height: 118;
    }
}

@media(max-width:720px){
    .btn{
        width: 125px;
        height: 43px;
        font-size: 12px;
    }
    .logo{
        width: 240px;
        height: 98px;
    }
    
}

@media(max-width:520px){
    .btn{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        display: block;
        a {
                display: none;
        }
        img{
                margin-top: 10px;
                display: inline-block;
        }
    }
    .logo{
        width: 160px;
        height: 68px;
    }
    
}
    
