.menuPage{
    text-align: center;
    margin: 25px 0;
}

.popular{
    margin-top: 50px;
}

.text{
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.title{
    text-transform: uppercase;
    text-decoration: underline overline #E1B168;
    color: #292E36;
    font-family: Cormorant Infant;
    font-size: 40px;
    line-height: 56px;
}

.subTitle{
    color: #555;
    font-family: Josefin Sans;
    font-size: 20px;   
    line-height: 30px;
    width: 90%;
    margin: 0 auto;

}


@media(max-width:565px){
    .subTitle{
        font-size: 14px;
    }
}


