.menuPage{
    text-align: center;
    margin-top: 25px;
}

.text{
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.title{
    text-transform: uppercase;
    text-decoration: underline overline #E1B168;
    color: #292E36;
    font-family: Cormorant Infant;
    font-size: 40px;
    line-height: 56px;
}

.subTitle{
    color: #555;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 20px;   
    line-height: 30px;
}

.menuGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
    margin-top: 50px;
}

.dishContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dishImg{
    position: relative;
    width: 100%;
    height: 307px;
}

.titleAndPrice{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.dishTitle{
    color: #292E36;
    font-family: Cormorant Infant;
    font-size: 30px;
    line-height: 42px;
}

.dishPrice{
    color: #292E36;
    font-family: Cormorant Infant;
    font-size: 30px;
    line-height: 42px;
}

.underline{
    width: 95%;
    height: 1px;
    background: #DCDCDC;
}

.description{
    width: 95%;
    text-align: left;
    color: #555;
    font-family: Josefin Sans;
    font-size: 20px;
    line-height: 30px;
}