@import '../../../styles/variables.scss';

.aboutPage{
    background: $about_bg_color;
}

.briefInfoContainer{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    margin: 0 20px;
}

.briefInfo{
    max-width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    &__imgContainer{
        position: relative;
        width: 84px;
        height: 84px;
    }
    &__text{
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.2px;
    }
    &__subTitle{
        color: #555;
        font-family: Josefin Sans;
        font-size: 20px; 
        line-height: 30px;
    }
    &__title{
        color: #292E36;
        font-family: Cormorant Infant;
        font-size: 30px;
        line-height: 39px;
        letter-spacing: 0.2px;
    }
}

.storyContainer{
    display: flex;
    justify-content: space-between;
    margin: 0 50px 50px;
    gap: 40px;
}

.storyImgContainer{
    position: relative;
    width: 743px;
    height: 519px;
}

.storyTextContainer{
    max-width: 540px;
}

.storyMottos{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.author{
    color: #555;
    font-family: Josefin Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-top: 20px;
}

.signaruteContainer{
    position: relative;
    width: 200px;
    height: 111px;
    margin-top: 20px;
}

@media (max-width:1200px){
    .briefInfo{
        &__imgContainer{
            width: 64px;
            height: 64px;
        }
        &__subTitle{
            font-size: 16px; 
            line-height: 24px;
        }
        &__title{
            font-size: 24px;
            line-height: 33px;
        }
    }
    .storyImgContainer{
        height: 400px;
        width: 640px;
    }
    .storyTextContainer{
        max-width: 440px;
    }
    .author{
        font-size: 16px;
    }
    
    .signaruteContainer{
        width: 150px;
        height: 90px;
    }
}

@media (max-width:935px){
    .briefInfo{
        &__imgContainer{
            width: 54px;
            height: 54px;
        }
        &__subTitle{
            font-size: 14px; 
            line-height: 20px;
        }
        &__title{
            font-size: 20px;
            line-height: 30px;
        }
    }
    .storyImgContainer{
        height: 300px;
    }
    .author{
        font-size: 14px;
    }
    
    .signaruteContainer{
        width: 130px;
        height: 70px;
    }
}

@media (max-width:800px){
    .briefInfo{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .storyImgContainer{
        width: 400px;
        height: 200px;
    }
    .author{
        font-size: 12px;
    }
    
    .signaruteContainer{
        width: 100px;
        height: 50px;
    }
}

@media (max-width:765px){
    .storyContainer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
    }
    .signaruteContainer{
        margin: 0 auto;
    }
}

@media (max-width:530px){
    .briefInfoContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap:20px
    }
    .briefInfo{
        flex-direction: row;
        justify-content: center;
        &__info{
            width: 230px;
        }
    }
    .storyImgContainer{
        width: 300px;
    }
}